.navbarWrapper {
    box-shadow: 0 10px 30px -10px black;
}

.nav {
    color: #ABB2BF!important;
    font-family: var(--open-sans);
    font-size: 17px;
    font-weight: 500;
}

.hamburger {
    color: #ABB2BF!important;
}

.collapse {
    text-align: center;
}