.wrapper {
    padding: 0px;
}

.window {
    padding: 2vh 3vh;
    background-color: #1d2025;
    width: 100%;
    min-height: 80vh;
}

.command {
    font-family: var(--monteserrat);
    font-size: 20px;
}

.prompt {
    padding: 0px;
    margin: 0px;
}

.prompt_text {
    background-color: transparent;
    border: 0px;
    color: #abb2bf;
    font-weight: 600;
    padding: 0px!important;
}

.input {
    background-color: transparent;
    border: 0px;
    color: #abb2bf;
    font-weight: 600;
    padding: 0px;
}

.input:focus {
    background-color: transparent;
    border: none;
    color: #abb2bf;
    font-weight: 600;
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}