@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root {
    /* Fonts */
    --monteserrat: 'Montserrat', sans-serif;
    --telex: 'Telex', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --work-sans: 'Work Sans', sans-serif;
    --cutive-mono: 'Cutive Mono', monospace;
    --roboto-mono: 'Roboto Mono', monospace;

    /* Colour */
    --font-colour: #ccd6f6;
    --light-dark: rgb(29, 32, 37);
}

body {
    background-color: #323741;
    overflow-x: hidden;
}