@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --monteserrat: 'Montserrat', sans-serif;
    --telex: 'Telex', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

body {
    background-color: #323741;
}