/* Overriding Default Button Behaviour */
.button, .button:hover, .button:active, .button:focus {
    background-color: transparent!important;
    border: none!important;
    line-height: normal;
    outline: none!important;
    box-shadow: none!important;
}

.button {
    padding: 0px;
}

.list_item {
    list-style: none;
    display: inline;
    margin: auto 20px;
    color: var(--project-font-colour);
}

.list {
    padding-inline-start: 0px;
}

@media only screen and (max-width: 1200px) {
    .button {
        font-size: 25px;
    }

    .icon {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1200px) {
    .button {
        font-size: 30px;
    }

    .icon {
        font-size: 50px;
    }
}